@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
.black-btn{
  @apply text-komla text-lg bg-kala w-32 py-1 my-3 border-komla border hover:shadow-komla hover:shadow-lg
}
.orange-btn{
  @apply text-kala text-lg bg-komla w-32 py-1 my-3 border-kala border hover:shadow-kala hover:shadow-lg
}